.dashboard {
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5 {
            font-size: 1.5rem;
            font-weight: 500;
            color: #707070 !important;
           
        }

        p {
           font-size: .7rem;
           color: #707070 !important;
        }

        .addBtn {
            button {
                font-size: .7rem !important;
                padding: 10px 15px !important;
                background-color: #004BA8 !important;
                color: #fff !important;
                border: none !important;
                border-radius: 10px !important;
                // width: 200px !important;
                height: 40px !important;
            }
        }
    }

  
}

// .submit-button {
//     background: #379634 !important;
//     height: 50px !important;
//     width: 100% !important;
//     border-radius: 50px !important;
// }

// .submit-btn {
//     background: #379634 !important;
//     color: #fff !important;
//     width: 130px !important;
// }


// .previous-btn,
// .next-btn {
//     width: 100px !important;
// }