

.grid-container {
	display: grid;
	grid-template-columns: 90px 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas:"header header" "sidebar main";
	height: 100vh;
}

.header {
    grid-area: header;
	background: #fff;
	box-shadow: 0px 3px 6px #E4E9F3CE;
	position: fixed;
	width: 100%;
	z-index: 100;

    a {
        text-decoration:none;
        color: #707070;
        
    }
    

    &__header {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: .7rem;
    }

    &__logo {
        
        font-family: "Pacifico", cursive !important;
        color: #004BA8 !important;
    }

    // &__date {

    // }

    // &__dropdown {
        
    // }
}
.sidebar {
    grid-area: sidebar;
    position: fixed;
    top: 52px;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: min(5rem, 90%);
    box-shadow: 0px 1px 4px #E4E9F3CE;
    overflow: hidden;
    z-index: 1000;

    &__content {
        ul {
            list-style-type: none;
           
            

            li {
                  padding: 10px;
                  background-color: #EEF1F7;
                  cursor: pointer;
                  border-radius: 10px;
                  transition: all .3s ease-in;
                a {
                  svg {
                      font-size: 20px;
                      transition: all .3s ease-in;
                  }
                }

                &:not(:nth-child(1)) {
                    margin-top: 30px;
                }

                &:hover {
                    background-color: #004BA8;

                    svg {
                        fill: #fff !important;
                    }
                }

                
            }

            li.activeMenu {
                background-color: #004BA8; 
                svg {
                    fill: #fff !important;
                }
            }
        }

        ul.items1{
            position: absolute;
            top: 30%;
            left: 25%;
            transform: translate(-50%, -50%);
        }

        ul.items2 {
            position: absolute;
            bottom: 10%;
            left: 25%;
            transform: translate(-50%, -50%);
        }
        
    }
}

.main {
    grid-area: main;

   height: 100%;
}
